<div class="masthead">
  <h1 class="masthead-title">
    <a href="/">{{ site.title }}</a>
  </h1>
  <p class="masthead-lead">
    Beautiful and inspiring uses of <a href="{{ site.docs }}/">Bootstrap</a>, curated by <a href="https://twitter.com/mdo">@mdo</a>.
  </p>

  <hr class="masthead-hr">

  <ul class="masthead-nav">
    <li class="nav-item">
      <a class="nav-link{% if page.title == "Home" %} nav-link-active{% endif %}" href="/">Home</a>
    </li>

    {%- for node in site.pages -%}
      {%- if node.title != null -%}
        {%- if node.layout == "page" -%}
          <li class="nav-item">
            <a class="nav-link{% if page.url == node.url %} nav-link-active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          </li>
        {%- endif -%}
      {%- endif -%}
    {%- endfor -%}
  </ul>

  <hr class="masthead-hr">

  <ul class="masthead-nav">
    <li class="nav-item">
      <a class="nav-link" href="/about/#suggestions">Suggest a site</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/feed.xml">RSS feed</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://twitter.com/getbootstrap" rel="noopener" target="_blank">Twitter</a>
    </li>
  </ul>

  <hr class="masthead-hr">

  {% include carbonads.html %}

  <hr class="masthead-hr d-md-none">
</div>
