---
layout: default
title: "Home"
---

{% for post in paginator.posts %}
  <div class="entry">
    <a class="entry-thumb" href="{{ post.source }}" title="Visit {{ post.title }}" target="_blank">
      {{ post.content }}
      <span class="icon icon-forward entry-icon"></span>
    </a>
    <div class="entry-content">
      <h2 class="entry-title">
        <a href="{{ post.url }}">{{ post.title }}</a>
      </h2>
      <p class="entry-date">{{ post.date | date: "%B %-d, %Y" }}</p>
    </div>
  </div>
{% endfor %}

{% include pagination.html %}
