---
layout: default
title: "Bootstrap Expo"
---

<div class="row bsg-listing">
  <div class="col-span-4 carbon-ads">
    {% include carbonads.html %}
  </div>
{% for post in paginator.posts %}
  <div class="col-span-4">
    <a class="bse-thumb" href="{{ post.link }}" target="_blank">
      <img class="bse-thumb-img" src="/screenshots/{{ post.slug }}.jpg">
    </a>
    <h4 class="bse-thumb-title">
      <a href="{{ post.url }}">{{ post.title }}</a>
    </h4>
    <span class="bse-thumb-date">{{ post.date | date_to_string }}</span>
  </div>
{% endfor %}
</div>
