---
layout: page
title: Resources
---

<p>Links to useful Bootstrap resources like additional showcases, integrations, add-ons, code snippets, and more. <a href="{{ site.expo_new_issue }}">Suggest new resources</a> on GitHub.</p>

<h3 class="category-list-heading" id="#addons">Add-ons</h3>
<ul class="category-list">
{% for addons in site.data.addons %}
  <li>
    <a href="{{ addons.url }}" target="_blank">{{ addons.name }}</a>
    <span class="resource-description">{{ addons.desc }}</span>
  </li>
{% endfor %}
</ul>

<h3 class="category-list-heading" id="#showcases">Showcases</h3>
<ul class="category-list">
{% for showcases in site.data.showcases %}
  <li>
    <a href="{{ showcases.url }}" target="_blank">{{ showcases.name }}</a>
    <span class="resource-description">{{ showcases.desc }}</span>
  </li>
{% endfor %}
</ul>

<h3 class="category-list-heading" id="#themes">Themes</h3>
<ul class="category-list">
{% for themes in site.data.themes %}
  <li>
    <a href="{{ themes.url }}" target="_blank">{{ themes.name }}</a>
    <span class="resource-description">{{ themes.desc }}</span>
  </li>
{% endfor %}
</ul>

<h3 class="category-list-heading" id="#code">Code</h3>
<ul class="category-list">
{% for code in site.data.code %}
  <li>
    <a href="{{ code.url }}" target="_blank">{{ code.name }}</a>
    <span class="resource-description">{{ code.desc }}</span>
  </li>
{% endfor %}
</ul>

<h3 class="category-list-heading" id="#misc">Miscellaneous</h3>
<ul class="category-list">
{% for misc in site.data.misc %}
  <li>
    <a href="{{ misc.url }}" target="_blank">{{ misc.name }}</a>
    <span class="resource-description">{{ misc.desc }}</span>
  </li>
{% endfor %}
</ul>
