<div class="bsg-contribute">
  <div class="bsg-container">
    <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=twbs&amp;repo=bootstrap&amp;type=watch&amp;count=false&amp;size=large" width="80" height="30"></iframe>
    <p><a href="https://github.com/twbs/bootstrap-expo/issues/new" target="_blank">Suggest new sites</a> on GitHub. Subscribe to the <a href="/feed.xml" title="Bootstrap Expo RSS feed">RSS feed</a>.</p>
  </div>
</div>

<script src="http://platform.twitter.com/widgets.js"></script>

<!-- Analytics -->
<script>
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '51341359613f5d301800006c');
    t.src = '//secure.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();

  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-146052-14', 'getbootstrap.com');
  ga('send', 'pageview');
</script>
