<!doctype html>
<html lang="en">
  <head>
    {% include header.html %}

    <!-- Twitter Cards -->
    <meta name="twitter:card" content="photo">
    <meta name="twitter:site" content="@getbootstrap">
    <meta name="twitter:author" content="@mdo">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:image:src" content="{{ site.url }}/assets/img/screenshots/{{ page.slug }}.jpg">
    <meta name="twitter:image:width" content="1200">
    <meta name="twitter:image:height" content="900">
  </head>
  <body>

    {% include masthead.html %}

    <div class="listing">

      <div class="entry">
        {% include entry.html context=page %}

        <div class="related">
          <h3 class="related-title">More from the Expo</h3>
          <div class="row">
            {% for post in site.related_posts limit: 3 %}
              <div class="col-sm-4">
                <div class="entry">
                  <a class="entry-thumb" href="{{ post.url }}" title="View {{ post.title }} entry">
                    {% assign slug = post.title | slugify -%}
                    {%- assign default_post_image = "/assets/img/screenshots/" | append: slug | append: ".jpg" -%}
                    {%- assign post_image = post.image | default: default_post_image -%}
                    <img src="{{ post_image | absolute_url }}" alt="" loading="lazy">
                  </a>
                  <div class="entry-content">
                    <h4 class="entry-title">
                      <a href="{{ post.url }}">{{ post.title }}</a>
                    </h4>
                    <p class="entry-date">{{ post.date | date: "%B %-d, %Y" }}</p>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>

      </div>
    </div>

    {% include footer.html %}

  </body>
</html>
