/*
 * Carbon ads
 *
 * Single display ad that shows on all pages (except homepage) in page headers.
 * The hella `!important` is required for any pre-set property.
 */

#carbonads * {
  padding: initial;
  margin: initial;
}

#carbonads {
  display: -ms-flexbox;
  display: flex;
  max-width: 130px;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  border-radius: 4px;
  box-shadow: 0 0 1px hsla(0, 0%, 0%, .15);
}

#carbonads * {
  padding: initial;
  margin: initial;
}

#carbonads a {
  color: #111;
  text-decoration: none;
}

#carbonads a:hover {
  color: #111;
}

#carbonads .carbon-img {
  display: block;
  max-width: 130px;
  line-height: 1;
}

#carbonads .carbon-img img {
  display: block;
  width: 130px;
  height: 100px;
  margin: 0 auto;
}

#carbonads .carbon-text {
  display: block;
  padding: 8px 10px;
  line-height: 1.35;
  text-align: left;
  background-color: hsl(0, 0%, 98%);
}

#carbonads .carbon-poweredby {
  display: block;
  padding: 10px;
  font-size: 8px;
  font-weight: 600;
  line-height: 0;
  text-transform: uppercase;
  letter-spacing: .5px;
  background: repeating-linear-gradient(-45deg, transparent, transparent 5px, hsla(0, 0%, 0%, .025) 5px, hsla(0, 0%, 0%, .025) 10px) hsla(203, 11%, 95%, .4);
  background-color: hsl(0, 0%, 98%);
}

@media only screen and (min-width: 320px) and (max-width: 759px) {
  #carbonads {
    position: relative;
    float: none;
    max-width: 330px;
    margin: 20px 0;
  }

  #carbonads .carbon-wrap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  #carbonads .carbon-img {
    margin: 0;
  }

  #carbonads .carbon-text {
    padding: 10px 10px 0;
    font-size: 12px;
  }

  #carbonads .carbon-poweredby {
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: center;
    border-radius: 0;
    border-top-left-radius: 3px;
  }
}
