<!DOCTYPE html>
<html lang="en">
  <head>
    {% include header.html %}
  </head>
  <body>

    <div class="masthead">
      <div class="container-fluid">
        <h1 class="masthead-title">
          <a href="/">{{ site.name }}</a>
        </h1>
        <p class="masthead-lead">
          Beautiful and inspiring examples of using <a href="http://getbootstrap.com">Bootstrap</a>, curated by project co-creator, <a href="https://twitter.com/mdo">@mdo</a>.
        </p>
        {% include carbonads.html %}
      </div>
    </div>

    <div class="container-fluid">
      {{ content }}

      <div class="paginator">
        {% if paginator.next_page %}
          <a href="/page{{paginator.next_page}}" class="paginate older">Older</a>
        {% else %}
          <span class="paginate next">Older</span>
        {% endif %}

        {% if paginator.previous_page %}
          {% if paginator.page == 2 %}
            <a href="/" class="paginate newer">Newer</a>
          {% else %}
            <a href="/page{{paginator.previous_page}}" class="paginate newer">Newer</a>
          {% endif %}
        {% else %}
          <span class="paginate previous">Newer</span>
        {% endif %}
      </div>
    </div>

    {% include footer.html %}

  </body>
</html>
