<!DOCTYPE html>
<html lang="en">
  <head>
    {% include header.html %}

    <!-- Twitter Cards -->
    <meta name="twitter:card" content="photo">
    <meta name="twitter:site" content="@twbootstrap">
    <meta name="twitter:author" content="@mdo">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:image:src" content="{{ site.url }}/screenshots/{{ page.slug }}.jpg">
    <meta name="twitter:image:width" content="1200">
    <meta name="twitter:image:height" content="900">
  </head>
  <body>

    {% include masthead.html %}

    <div class="listing">

      <div class="entry">
        <a class="entry-thumb" href="{{ page.source }}" title="Visit {{ page.title }}">
          {{ page.content }}
          <span class="icon icon-forward entry-icon"></span>
        </a>
        <div class="entry-content">
          <h2 class="entry-title">
            <a href="{{ page.url }}">{{ page.title }}</a>
          </h2>
          <p class="entry-date">{{ page.date | date: "%B %-d %Y" }}</p>
        </div>

        <div class="related">
          <h3 class="related-title">More from the Expo</h3>
          <div class="row">
            {% for post in site.related_posts limit:3 %}
              <div class="col-sm-4">
                <div class="entry">
                  <a class="entry-thumb" href="{{ post.url }}" title="Visit {{ post.title }}">
                    {{ post.content }}
                  </a>
                  <div class="entry-content">
                    <h4 class="entry-title">
                      <a href="{{ post.url }}">{{ post.title }}</a>
                    </h4>
                    <p class="entry-date">{{ post.date | date: "%B %-d, %Y" }}</p>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>

      </div>
    </div>

    {% include footer.html %}

  </body>
</html>
